@import 'node_modules/hds-design-tokens/lib/all.scss';

.opening-periods-header {
  --background-color: var(--opening-periods-header-background-color);
  --font-color: var(--opening-periods-header-color);
  --periods-header-button-border: var(--opening-periods-header-button-border-color);
  --periods-header-button-color: var(--opening-periods-header-button-color);
  --periods-header-button-focus-color: var(--opening-periods-header-button-focus-color);
  --periods-header-button-focus-border-color: var(--opening-periods-header-button-focus-border-color);
  --periods-header-button-hover-background-color: var(--opening-periods-header-button-hover-background-color);
  --periods-header-button-hover-color: var(--opening-periods-header-button-hover-color);
  min-height: 4rem;
  background-color: var(--background-color);
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-left: $spacing-m;
  padding-right: $spacing-m;
}

.opening-periods-header-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.opening-periods-header-title {
  font-family: HelsinkiGrotesk-Bold, Arial, sans-serif;
  font-size: $fontsize-heading-m;
  color: inherit;
  margin-right: $spacing-s;
  margin-top: 0;
  margin-bottom: 0;
}

.opening-periods-header-info {
  color: var(--opening-periods-info-color);
}

.period-count {
  font-family: HelsinkiGrotesk-Bold, Arial, sans-serif;
  font-size: $fontsize-body-m;
  align-self: flex-start;
  color: inherit;
  margin-right: $spacing-xl;
}

.opening-periods-header-language-selector {
  font-family: HelsinkiGrotesk-Bold, Arial, sans-serif;
  color: inherit;
  font-size: $fontsize-body-m;
  margin-right: $spacing-xl;
}

.opening-periods-header {
  .opening-period-header-button {
    font-family: HelsinkiGrotesk-Medium, Arial, sans-serif;
    color: var(--periods-header-button-color);
    border-color: var(--periods-header-button-border-color) !important;

    &:hover {
      background-color: var(--periods-header-button-hover-background-color) !important;
      color: var(--periods-header-button-hover-color) !important;
    }

    &:focus {
      color: var(--periods-header-button-focus-color);
      border-color: var(--periods-header-button-focus-border-color) !important;
      border-width: 3px;
    }
  }
}

.opening-periods-list {
  padding-top: $spacing-s;
  padding-bottom: $spacing-s;
}

.loading-opening-hours-text {
  text-align: center;
  margin-top: $spacing-2-xl;
  margin-bottom: $spacing-2-xl;
}
