@import 'node_modules/hds-design-tokens/lib/all.scss';

.time-span-row {
  display: grid;
  grid-template-columns: 180px 3fr 3fr 8fr;
  align-items: start;
  font-family: HelsinkiGrotesk-Medium, Arial, sans-serif;

  p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2;

    &.time-span-preview-description {
      font-family: HelsinkiGrotesk-Regular, Arial, sans-serif;
    }
  }
}
