@import 'node_modules/hds-design-tokens/lib/all.scss';

.button-common.button-common.button-common {
  font-family: HelsinkiGrotesk-Medium, Arial, sans-serif;
}

.primary-button.primary-button.primary-button {
  --background-color: var(--color-coat-of-arms);
  --background-color-hover: var(--color-coat-of-arms-dark);
  --background-color-hover-focus: var(--color-coat-of-arms-dark);
  --border-color: var(--color-coat-of-arms);
  --border-color-hover: var(--color-coat-of-arms-dark);
  --border-color-focus: var(--color-coat-of-arms);
  --border-color-hover-focus: var(--color-coat-of-arms);
  --color: var(--add-new-opening-period-button-color);
  --color-hover: var(--add-new-opening-period-button-color);
  --color-focus: var(--add-new-opening-period-button-color);
  --color-hover-focus: var(--add-new-opening-period-button-color);
  --focus-outline-color: var(--color-coat-of-arms);
}

.primary-button.primary-button.primary-button--is-disabled {
  background-color: var(--button-disabled-background-color);
  color: var(--button-disabled-color);

  &:hover {
    background-color: var(--color-coat-of-arms-dark);
    border-color: var(--color-coat-of-arms-dark);
  }

  &:focus {
    background-color: var(--color-coat-of-arms);
    border-color: var(--color-coat-of-arms) !important;
    outline-color: var(--color-coat-of-arms);
  }
}

.primary-button.primary-button--is-loading {
  background-color: transparent !important;
  color: var(--color-coat-of-arms) !important;
}

.secondary-button.secondary-button.secondary-button {
  border-color: var(--color-coat-of-arms);
}

.secondary-button-light.secondary-button-light.secondary-button-light {
  --background-color: transparent;
  --background-color-hover: var(--color-coat-of-arms-light);
  --background-color-hover-focus: var(--color-coat-of-arms-light);
  --border-color: var(--color-white);
  --border-color-hover: var(--color-white);
  --border-color-focus: var(--color-white);
  --border-color-hover-focus: var(--color-white);
  --color: var(--color-white);
  --color-hover: var(--color-coat-of-arms);
  --color-focus: var(--color-white);
  --color-hover-focus: var(--color-coat-of-arms);
  --focus-outline-color: var(--color-coat-of-arms);
}

.supplementary-button.supplementary-button.supplementary-button {
  --color: var(--color-coat-of-arms);
  --color-hover: var(--color-coat-of-arms);
  --color-focus: var(--color-coat-of-arms);
  --color-hover-focus: var(--color-coat-of-arms);

  border: 0 none;
}
