@import '~hds-design-tokens/lib/all.scss';

// The main's content aligns with the HDS navigation's content:
// https://github.com/City-of-Helsinki/helsinki-design-system/blob/master/packages/react/src/components/navigation/Navigation.module.css

.main,
.main-container {
  background-color: var(--hauki-content-background-color);
  height: 100%;
}

.main-container {
  box-sizing: border-box;
  line-height: var(--lineheight-l);
  margin: 0 auto;
  padding: $spacing-s;
  width: 100%;
}

.main-container h2 {
  color: var(--color-coat-of-arms-blue);
}

.section {
  & + & {
    margin-top: $spacing-5-xl;
  }
}

@media screen and (min-width: $breakpoint-m) {
  .main-container {
    padding: $spacing-m;
  }
}

@media screen and (min-width: $breakpoint-l) {
  .main-container {
    max-width: $container-width-xl;
  }
}
