.collapse-button {
  align-items: center;
  background-color: transparent;
  border: 0 none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  display: flex;
  justify-content: space-between;
  outline: 0 none;
  padding: 0;
  width: 100%;
}

.collapse-header {
  color: var(--collapse-header-color);
  font-size: var(--fontsize-heading-m);
  margin-bottom: var(--spacing-s);
  margin-top: var(--spacing-s);
}

.collapse-button-icon {
  color: var(--hauki-content-text-color);
}
