@import 'node_modules/hds-design-tokens/lib/all.scss';

.opening-period-form {
  .form-control {
    margin-top: $spacing-m;
  }

  input[type="text"] {
    display: block;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  margin-top: $spacing-xl;
}

.opening-period-time-period {
  display: flex;
  align-items: center;
}

.dash-between-begin-and-end-date {
  font-family: HelsinkiGrotesk-Bold, Arial, sans-serif;
  margin: 2rem 10px 0;
}

.opening-period-final-action-row-container {
  margin-top: 116px;
}

.opening-period-final-action-button.opening-period-final-action-button.opening-period-final-action-button {
  margin-right: $spacing-m;
}

.form-section {
  padding: $spacing-layout-xs;
  background-color: white;
  margin-bottom: $spacing-layout-xs;
}

.form-group {
  padding: $spacing-layout-s 0;

  &:not(:last-child):not(:empty) {
    border-bottom: 1px solid var(--hauki-content-border-color);
  }
}

.opening-period-field-list {
  margin: 0;
  padding: 0;
  position: relative;
}

.opening-period-field-list-item {
  border-top: var(--spacing-4-xs) solid var(--primary-color);
  list-style: none;
  margin: 0;
  padding: 0 0 $spacing-xl;

  &:first-child {
    border-top: none;
  }
}

.opening-period-rule-list:not(:empty) {
  margin-top: -4rem; // A hacky way to inline the first remove button with the section title
}

.opening-period-rule-list-item {
  padding-bottom: $spacing-s;
}

.time-span-group {
  border-top: var(--spacing-3-xs) solid var(--color-coat-of-arms);
}

.opening-period-remove-list-item-button.opening-period-remove-list-item-button {
  color: var(--color-coat-of-arms);
}
