@import 'node_modules/hds-design-tokens/lib/all.scss';

.opening-period-form {
  margin-top: $spacing-layout-s;

  input[type="text"] {
    display: block;
  }
}

.form-section {
  background-color: white;
  margin-bottom: $spacing-layout-xs;
  padding: $spacing-layout-s $spacing-layout-s $spacing-layout-m;
}

.form-group {
  & + & {
    margin-top: $spacing-layout-s;
  }

  &.rules-group {
    border-top: var(--spacing-4-xs) solid var(--primary-color);
    margin-top: $spacing-layout-m;
    padding-top: $spacing-layout-s;
  }
}

.form-actions-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-actions-row-condensed {
  padding: 0 $spacing-l;
}

.form-control {
  margin-top: $spacing-m;

  .opening-period-field-list-item &:first-of-type {
    margin-top: 0;
  }
}

.form-control-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.opening-period-section-title {
  margin: 0;
}

.opening-period-time-period {
  display: flex;
}

.dash-between-begin-and-end-date {
  font-family: HelsinkiGrotesk-Bold, Arial, sans-serif;
  margin: calc(3rem - 2px) 10px 0;
}

.opening-period-notification-text,
.opening-period-error-text {
  display: flex;

  > * + * {
    margin-left: $spacing-3-xs;
  }
}

.opening-period-final-action-row-container {
  margin-top: 116px;
}

.opening-period-final-action-button.opening-period-final-action-button.opening-period-final-action-button {
  margin-right: $spacing-m;
}

.opening-period-field-list {
  margin: 0;
  padding: 0;
  position: relative;
}

.opening-period-field-list-item {
  background-color: var(--hauki-content-background-color);
  list-style: none;
  margin: $spacing-l 0 0;
  padding: $spacing-l;

  &.opening-period-rule-list-item {
    padding-top: $spacing-s;
  }
}

.time-span-group {
  border-top: var(--spacing-3-xs) solid var(--color-coat-of-arms);
}
