@import 'node_modules/hds-design-tokens/lib/all.scss';

.custom-icon-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > .custom-icon-text-icon {
    line-height: 1;
    vertical-align: middle;
  }

  > * + * {
    margin-left: $spacing-3-xs;
  }
}
