@import '~hds-design-tokens/lib/all.scss';

.page-footer {
  background-color: var(--hauki-content-background-color);
  margin-top: auto;
}

.footer-top-padding {
  background-color: var(--hauki-content-background-color);
  min-height: $spacing-layout-m;
}
