@import '~hds-core/lib/base.css';
@import 'font';
@import 'variables';

html {
  height: 100%;
  margin: 0;
  background-color: var(--hauki-content-background-color);
}

body {
  color: var(--hauki-content-text-color);
  height: 100%;
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#root {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
