/* This file needs to be a css file because stylelint-value-no-unknown-custom-properties plugin cannot read .scss files in .stylelintrc.json */

:root {
  --primary-color: var(--color-coat-of-arms-blue);
  --hauki-content-text-color: var(--color-black-90);
  --hauki-content-background-color: #fafafb;
  --hauki-content-link-color: var(--color-coat-of-arms-blue);
  --hauki-content-border-color: #c4c4c4;
  --hauki-footer-background-color: var(--color-coat-of-arms-blue-light-20);
  --opening-period-card-background-color: #fff;
  --opening-period-card-border-color: #e0e0e0;
  --opening-periods-header-background-color: var(--color-coat-of-arms-blue);
  --opening-periods-header-color: white;
  --opening-periods-header-button-color: white;
  --opening-periods-header-button-border-color: white;
  --opening-periods-header-button-focus-color: white;
  --opening-periods-header-button-focus-border-color: white;
  --opening-periods-header-button-hover-background-color: var(--color-coat-of-arms-blue-light-5);
  --opening-periods-header-button-hover-color: var(--color-coat-of-arms-blue);
}

:root .navigation-header {
  --header-background-color: var(--color-coat-of-arms-blue);
  --header-color: var(--color-white);
}
