@import 'node_modules/hds-design-tokens/lib/all.scss';

.switch-buttons {
  display: flex;
  align-items: center;
}

.switch-buttons-divider {
  margin: 0 $spacing-xs;
}

.switch-buttons-button.switch-buttons-button.switch-buttons-button {
  --background-color: transparent;
  --border-color: transparent;
  --color: black;
  --outline-width: 0;

  &:hover {
    border-color: transparent;
  }

  &:focus {
    border-color: transparent;
  }

  &.switch-buttons-button--active {
    border-bottom-color: black;
  }
}

.opening-hours-form {
  background: #ffffff;
}

.opening-hours-range__label {
  display: flex;
  font-weight: bold;
  margin-top: 45px;
  width: 100px;
}

.opening-hours-range__time-span-inputs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.opening-hours-range__selections {
  display: flex;
  gap: 30px;
}

.opening-hours-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opening-hours-range-select {
  min-width: 240px;
}

.separate-weekdays-section {
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  gap: 50px;
  display: flex;
  padding: 2rem 2rem;
}

.separate-weekdays-section__label {
  font-weight: bold;
}

.opening-hours-form__buttons {
  display: flex;
  gap: 1rem;
  padding: 3rem 2rem 2rem;
}

.opening-hours-ranges__switch-buttons {
  margin-top: 30px;
}

.opening-hours-range {
  display: flex;
  gap: 50px;
  padding: 1rem 2rem;
}

.exception-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.opening-hours-range__time-spans {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opening-hours-range__time-span {
  align-items: flex-end;
  display: flex;
  gap: 50px;
}

.exception {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.opening-hours__time-span-container {
  align-items: flex-end;
  display: flex;
  gap: 1rem;
}

.opening-hours-form__title {
  background: #ffffff;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  left: 0;
  padding: 1rem 2rem;
  position: sticky;
  right: 0;
  top: 2px;
  z-index: 100;
}
