@import 'node_modules/hds-design-tokens/lib/all.scss';

.switch-buttons {
  display: flex;
  align-items: center;
}

.switch-buttons-divider {
  margin: 0 $spacing-xs;
}

.switch-buttons-button.switch-buttons-button.switch-buttons-button {
  --background-color: transparent;
  --border-color: transparent;
  --color: black;
  --outline-width: 0;

  &:hover {
    border-color: transparent;
  }

  &:focus {
    border-color: transparent;
  }

  &.switch-buttons-button--active {
    border-bottom-color: black;
  }
}
