@import 'node_modules/hds-design-tokens/lib/all.scss';

.start-and-end-time-container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.start-time-container-label {
  display: block;
}

.dash-between-start-and-end-time-container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  font-family: HelsinkiGrotesk-Bold, Arial, sans-serif;
}

.time-span-first-header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.time-span-fullday-checkbox-container {
  display: flex;
  align-items: center;
  height: var(--spacing-3-xl); // 56px, it is the height of the input
}

.time-span-end-time-input {
  margin-right: var(--spacing-layout-l);
}
