@import 'node_modules/hds-design-tokens/lib/all.scss';

.day-option {
  display: block;
  margin-top: 0;
  border: $spacing-4-xs solid;
  width: $spacing-layout-l;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--color-coat-of-arms);
  border-color: var(--color-coat-of-arms);
}

label.day-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: $spacing-s;
  margin-top: 0;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 1em;
    height: 1em;
    z-index: 10000;
  }

  & input[type="checkbox"]:checked ~ .day-option {
    background-color: var(--color-coat-of-arms);
    color: white;
  }

  & input[type="checkbox"]:focus ~ .day-option {
    outline: blue solid 2px;
  }
}

.form-section {
  fieldset {
    margin-top: $spacing-m;
  }

  legend {
    font-family: HelsinkiGrotesk-Medium, Arial, sans-serif;
    font-size: $fontsize-heading-xxs;
  }
}
