@import 'node_modules/hds-design-tokens/lib/all.scss';

.opening-group-rule-remove {
  display: flex;
  justify-content: flex-end;
}

.opening-group-rule-fieldset {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: $spacing-xs -1rem 0;
  width: 100%;

  > * {
    margin-left: 1rem;
  }
}

.opening-group-rule-column {
  flex: 1 1 10ch;
  margin-bottom: $spacing-m;
}

.opening-group-rule-column-large {
  align-items: flex-end;
  display: flex;
  flex: 2;

  > * + * {
    margin-left: 1rem;
  }

  > .opening-group-rule-select {
    flex: 1 1;
    min-width: 30ch;
    max-width: 45ch; // when columns wrap
  }
}

.opening-group-rule-subject-indicator {
  min-width: 9ch; // maanantai is the longest known subject option at the moment
}
